* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white: #ffffff;
    --seo-emphasis: #d9dcd6;
    --content-margin: 20px;
    --img-margin: 25px;
    --content-font: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    --head-foot-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*basic formatting for body and headings*/
body {
    background-color: #d9dcd6;
    font-size: 16px;    
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2{
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

/*Formatting for the header and navbar*/
header {
    padding: 20px;
    font-family: var(--head-foot-font);
    background-color: #2a607c;
    color: var(--white);
}

em {
    color: #d9dcd6;
    font-style:normal;
}

nav {
    padding-top: 15px;
    margin-right: var(--content-margin);
    font-family: var(--content-font);
    font-size: 20px;
    float: right;
}

nav a{
    margin-left: var(--img-margin);
    color: var(--white);
    text-decoration: none;
}

.head-img {
    width: 100%;
    margin-bottom: var(--img-margin);
}

.float-left {
    float: left;
    margin-right: var(--img-margin);
}

.float-right {
    float: right;
    margin-left: var(--img-margin);
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: var(--content-margin);
}

.content-block{
    margin-bottom: var(--content-margin);
    padding: 50px;
    height: 300px;
    font-family: var(--content-font);
    background-color: #0072bb;
    color: var(--white);
    display: block;
}

.content-block img {
    max-height: 200px;
}

/*Formatting for the right-side aside block*/
.benefits {
    margin-right: var(--content-margin);
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--content-font);
    background-color: #2589bd;
}

.benefits article {
    margin-bottom: 32px;
    color: var(--white);
}

.benefits article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*formatting for the footer*/ 
footer {
    padding: 30px;
    clear: both;
    font-family: var(--head-foot-font);
    text-align: center;
}
